In [1]:
#load libraries
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [24]:
df = pd.read_csv('product.csv')

In [25]:
df.head()

,UTM_Source,UTM_Medium,Trans_ID,Loan_id,uuid,Opened_date,Closed_date,Product,"$43,484.00","$43,515.00",...,"$43,604.00","$43,635.00","$43,665.00","$43,696.00","$43,727.00","$43,757.00","$43,788.00","$43,818.00","$43,485.00",Total Revenue To date
0,NaN,NaN,NaN,26,704ddfea-ba01-4560-8aef-1550932d04d7,1/3/19,NaN,Prime 12,$8.95,$10.46,...,$7.73,$7.14,$(2.87),$5.42,$4.54,$4.01,$-,$9.16,NaN,$72.11
1,NaN,NaN,NaN,27,df007477-d209-445a-80e3-649cd1e301d0,1/8/19,NaN,Basic 12,$8.95,$5.25,...,$3.76,$7.46,$(6.96),$3.07,$2.10,$-,$4.91,$2.89,NaN,$39.89
2,NaN,NaN,NaN,28,3066d9e8-9575-4fac-88b9-aa0ce2cafc3e,1/10/19,3/26/19,Prime 12,$8.95,$15.19,...,$-,$-,$(8.95),NaN,NaN,NaN,NaN,NaN,NaN,$27.84
3,NaN,NaN,NaN,29,9ef9086b-d671-48f6-a490-9f98152c4ea5,1/11/19,NaN,Prime 24,$8.95,$11.86,...,$10.22,$10.12,$0.41,$9.21,$8.75,$9.62,$7.83,$7.11,NaN,$105.43
4,NaN,NaN,NaN,30,551f0be6-6264-4636-a864-2da25babe77d,1/14/19,2/12/19,Basic 24,$-,$-,...,$-,$-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$-

In [26]:
#reduce columns
df = df[['uuid','Opened_date','Product',' Total Revenue To date ']]

In [27]:
#rename columns
df.columns = ['uuid','Opened_date','Product','Revenue']

In [28]:
#change opened date
df['Opened_date'] = pd.to_datetime(df['Opened_date'])

In [29]:
#check for missing data
df.isnull().sum()

uuid           0
Opened_date    0
Product        0
Revenue        0
dtype: int64

In [31]:
df.replace(to_replace ="$-", value ="$0")

,uuid,Opened_date,Product,Revenue
0,704ddfea-ba01-4560-8aef-1550932d04d7,2019-01-03,Prime 12,$72.11
1,df007477-d209-445a-80e3-649cd1e301d0,2019-01-08,Basic 12,$39.89
2,3066d9e8-9575-4fac-88b9-aa0ce2cafc3e,2019-01-10,Prime 12,$27.84
3,9ef9086b-d671-48f6-a490-9f98152c4ea5,2019-01-11,Prime 24,$105.43
4,551f0be6-6264-4636-a864-2da25babe77d,2019-01-14,Basic 24,$-
5,1e0e7531-0efe-4a11-bc48-aaa904ad0cad,2019-01-15,Basic 24,$37.18
6,80d77283-d0aa-41bf-9569-2f76649f3c37,2019-01-16,Basic 12,$17.25
7,b2e53e1a-3dfd-4f9b-9486-8ce369737bc0,2019-01-17,Prime 12,$59.46
8,045e3eb9-92b8-4196-af03-8a0805378d4d,2019-01-17,Basic 24,$37.37
9,32116c05-c512-4689-819c-8d6a75a71734,2019-01-17,Premier 24,$186.18
10,81d33043-6aef-4eb1-995b-2fe7e91b55ac,2019-01-18,Prime 24,$100.83
11,2f88da0d-e94e-4046-8638-41221ba80c77,2019-01-21,Basic 24,$49.33
12,09e28f58-236f-4b0d-a63c-25b14856dd42,2019-01-24,Basic 12,$50.28
13,1950e1cf-13c3-49fa-b586-5965b3864f0d,2019-01-28,Basic 24,$64.93
14,272df864-4bd2-42bb-9064-b429ecccae44,2019-01-31,Basic 24,$49.01
15,6919e4c6-eac4-4fc6-ae8d-842cd08efd7e,2019-01-31,Prime 24,$120.05
16,87c5bc5e-2bd5-4c41-9721-5b00d8c310cf,2019-02-02,Basic 12,$25.53
17,42c5da5d-4c13-442a-b923-f2d7daba3fdc,2019-02-05,Prime 24,$65.85
18,6779023c-a16d-4440-aa45-ccc20dc9f5e9,2019-02-07,Prime 12,$-
19,c7a35b09-0f36-45ae-a78a-7c1ae02e9965,2019-02-07,Prime 24,$97.38
20,3faf3915-8caf-4d8c-8c85-c9aaa0c5ec4e,2019-02-08,Basic 24,$48.69
21,af11afd1-6503-43b2-b570-a491572370c1,2019-02-12,Prime 24,$112.53
22,c22b13a8-ffdc-4969-b989-1cbe5270e04d,2019-02-13,Basic 24,$27.55
23,182b649f-ed8a-4b5a-88c2-58b19100ceb2,2019-02-13,Premier 24,$174.07
24,8417f4cd-0929-4994-8906-8aac9d5ecfc4,2019-02-17,Prime 12,$54.24
25,e2fa8d0c-1604-451c-8226-9ccfbd129dbb,2019-02-19,Prime 24,$-
26,00e85b77-1160-4689-8015-879b8d43c9f8,2019-02-19,Prime 24,$103.27
27,b7511b6f-64d7-4795-a621-e5e302f3907f,2019-02-19,Prime 24,$-
28,673ef237-573c-4a5e-9854-99e03ff31c0f,2019-02-19,Premier 24,$305.75
29,3336af2b-3702-4831-b961-901775de0c6b,2019-02-19,Basic 24,$-
...,...,...,...,...
10846,7e2884bf-de94-4113-b428-bf65fc5384bc,2019-12-12,Subscribe2500,$15.00
10847,e7937b83-6793-4548-b617-c586354c870a,2019-12-12,Magnum10000,$15.00
10848,b3734d2f-2cf3-4335-b593-c2f3259c4ed1,2019-12-12,Subscribe1000,$15.00
10849,11baa8c0-618e-415d-a4de-263bae071bd8,2019-12-12,Magnum10000,$15.00
10850,3cade3eb-15f8-4536-b53e-80ecd78b64bc,2019-12-12,Subscribe1000,$15.00
10851,8ff688ef-218c-42bc-b2d4-97614a208694,2019-12-12,Magnum10000,$15.00
10852,686ad8b7-e5ff-4373-9725-87f090f21367,2019-12-13,Subscribe2500,$15.00
10853,b3ba8ec2-9c44-4903-871c-99af5e55ed91,2019-12-13,Subscribe1000,$15.00
10854,b98e0ebd-ba74-4a18-a179-80375e7c4052,2019-12-13,B&S2000_24,$8.95
10855,83fb7a65-337f-45d2-a221-dafe15507a12,2019-12-13,B&S2000_24,$8.95
10856,345c0371-fa98-4154-972a-4eccdd6e91ec,2019-12-13,B&S1000_24,$8.95
10857,7913939e-66cf-4667-9e7a-aa7023ecf56a,2019-12-13,Subscribe2500,$-
10858,f5a454c3-685d-4175-a8d8-54db7210cbbc,2019-12-13,Magnum10000,$15.00
10859,8f741a73-891c-4efe-bc6e-d48f096eec1f,2019-12-13,Magnum5000,$15.00
10860,f8114a3a-198a-4245-a673-ea06be735031,2019-12-13,Subscribe2500,$15.00
10861,ef363a4c-ffbe-436b-8b02-ce000e82f1f7,2019-12-13,Magnum5000,$15.00
10862,ecb80411-ec05-45fd-b56f-83ceafbc70b8,2019-12-13,Magnum10000,$15.00
10863,301cf8ff-4efe-48ff-94c7-8c98b137bf5a,2019-12-13,Subscribe1000,$15.00
10864,fcc9ec12-246b-4db9-8c2c-6db248d466b2,2019-12-13,Subscribe1000,$15.00
10865,03c3e412-d69a-4a7a-ae71-7e46037ee2d6,2019-12-13,Magnum10000,$15.00
10866,725feda7-4e30-4603-9cea-80cd5885b5e2,2019-12-13,Subscribe2500,$15.00
10867,1883a75b-6795-40d0-8dd7-658408de3022,2019-12-13,Subscribe1000,$15.00
10868,cc912738-e840-4255-952f-f4808f3676f8,2019-12-13,Subscribe2500,$15.00
10869,f1a64f2b-7e73-4bc0-981b-a9168f685dc1,2019-12-13,Magnum10000,$15.00
10870,75137cc5-e4dc-4fa6-8468-e0d1fc10808d,2019-12-13,Subscribe1000,$15.00
10871,c6ca883d-7527-48d0-8706-a8e9c10f5131,2019-12-13,B&S1000_12,$8.95
10872,5e01c30f-07b0-486d-b2ea-298e165cb1ec,2019-12-13,Subscribe1000,$15.00
10873,c20d1d65-6b5a-42dd-8c62-2a03c85fe15a,2019-12-13,Subscribe1000,$15.00
10874,f94242b5-10ed-4d1a-8f46-1b5d89e8d62b,2019-12-13,Subscribe2500,$-
10875,c10980d4-fc54-4c0e-aaf7-b7c66934368a,2019-12-13,Subscribe1000,$15.00

In [30]:
df['Revenue'] = df['Revenue'].replace({'\$': '', ',': ''}, regex=True).astype(float)

ValueError: could not convert string to float: ' -   '

In [22]:
df.head()

                                   uuid Opened_date   Product    Revenue
0  704ddfea-ba01-4560-8aef-1550932d04d7  2019-01-03  Prime 12    $72.11
1  df007477-d209-445a-80e3-649cd1e301d0  2019-01-08  Basic 12    $39.89
2  3066d9e8-9575-4fac-88b9-aa0ce2cafc3e  2019-01-10  Prime 12    $27.84
3  9ef9086b-d671-48f6-a490-9f98152c4ea5  2019-01-11  Prime 24   $105.43
4  551f0be6-6264-4636-a864-2da25babe77d  2019-01-14  Basic 24      $-

# RFM Model

In [ ]:
import datetime as dt
NOW = dt.datetime(2019,12,20)